:root {
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.header {
  grid-column-gap: 20px;
  background-color: #d7d1c9;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  font-family: Inter, sans-serif;
  text-decoration: none;
  display: flex;
}

.text {
  color: rgba(0, 0, 0, .4);
  text-align: center;
  letter-spacing: .04em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  text-decoration: none;
}

.text-2 {
  color: #000;
  text-align: center;
  letter-spacing: .04em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  text-decoration: none;
}

.page-content {
  grid-row-gap: 0px;
  background-image: linear-gradient(#d7d1c9, #d7d1c9);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  margin-top: 60px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.vectors-wrapper {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.middle-content {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: scale-down;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  display: flex;
}

.prev-button {
  grid-row-gap: 60px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 60px;
  padding-right: 40px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-2 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 142px;
  height: 142px;
  text-decoration: none;
  display: flex;
}

.text-3 {
  color: #000;
  text-align: center;
  letter-spacing: .04em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  text-decoration: none;
}

.ginza_graphic_gallery-1 {
  object-fit: cover;
  border-radius: 30px;
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, .15), inset 0 -10px 10px rgba(0, 0, 0, .15), inset 10px 0 10px rgba(0, 0, 0, .15), inset -10px 0 10px rgba(0, 0, 0, .15), inset 0 -10px 40px rgba(255, 245, 218, .15), 0 -2px 2px #fff, 0 2px 2px #fff;
}

.body {
  background-color: #d7d1c9;
}

.section {
  padding-bottom: 140px;
}

.center-image {
  grid-row-gap: 60px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  padding-left: 40px;
  text-decoration: none;
  display: flex;
}

.next-button {
  grid-row-gap: 60px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
  padding-right: 60px;
  text-decoration: none;
  display: flex;
}

.big_center_image {
  aspect-ratio: 16 / 9;
  object-fit: scale-down;
  margin-top: 40px;
  display: inline-block;
}

.all-caps-18 {
  text-transform: uppercase;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px 20px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  display: flex;
}

.robot-image {
  grid-row-gap: 36px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.robot {
  object-fit: cover;
}

.gallery_name_and_arrow {
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
  position: relative;
}

.text-4 {
  color: #000;
  text-align: center;
  letter-spacing: .04em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 160%;
  text-decoration: none;
}

.vectors-wrapper-3 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 33.5px;
  height: 16.7614px;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 20px;
  left: 529px;
}

.gallery_name_all_caps {
  text-transform: uppercase;
  padding-top: 20px;
  font-family: Inter, sans-serif;
  font-size: 36px;
  line-height: 48px;
}

.div-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  max-width: 40%;
  margin-top: 0;
  display: block;
}

.description {
  margin-bottom: 40px;
  font-family: Inter, sans-serif;
  font-size: 14px;
}

.div-block-2 {
  text-align: center;
  flex-flow: column;
  display: block;
}

.container {
  flex-flow: column;
  display: flex;
}

.div-block-3 {
  padding-left: 60px;
  padding-right: 60px;
}



